.homepage-welcome-bg {
  background-image: url(../assets/backgrounds/welcome.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.devotional-bg {
  background-image: url(../assets/backgrounds/devotional.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.message-bg {
  background-image: url(../assets/backgrounds/message.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.download-bg {
  background-image: url(../assets/backgrounds/download.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.event-bg {
  background-image: url(../assets/backgrounds/events.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.direction-bg {
  background-image: url(../assets/backgrounds/direction.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.subscriber-bg {
  background-image: url(../assets/backgrounds/subscriber.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-header-bg {
  background-image: url(../assets/backgrounds/about-header.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faith-bg {
  background-image: url(../assets/backgrounds/faith.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.event-header-bg {
  background-image: url(../assets/backgrounds/event-header.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-header-bg {
  background-image: url(../assets/backgrounds/menu.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}