.about-header-bg {
  background-image: url(../assets/backgrounds/about-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.partner-header-bg {
  background-image: url(../assets/backgrounds/partner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-header-bg {
  background-image: url(../assets/backgrounds/contato.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-header-bg {
  background-image: url(../assets/backgrounds/fotos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
