.button {
  background-color: #FF6634;
  padding-inline: 20px;
  width: fit-content;
  height: 60px;
  border-radius: 5px;
  transition: all 0.5s;
  outline: none;
  border: 2px solid transparent;
  color: #fff;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100% !important;
}

.button:hover {
  background-color: #fff;
  color: #FF6634;
  border: 2px solid #FF6634;
}