.imageSlider {
  -webkit-animation: scrollUp 20s linear infinite alternate;
  animation: scrollUp 20s linear infinite alternate;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}